<div class="row footer">
  <div class="col-6 inline" [ngClass]="selected == 'lunch' ? '':'disabled'">
      <div (click)="toggleLink('lunch')">
            <img  routerLink="/list" src="./assets/cuts/tab_lunch@2x.png">
            <div>lunch</div>
      </div>
    
  </div>
  <div class="col-6 inline" [ngClass]="selected == 'internets' ? '':'disabled'">
      <div (click)="toggleLink('internets')">
            <img routerLink="/internets" src="./assets/cuts/tab_internets@2x.png"> 
            <div>internets</div>
      </div>
      
  </div>
</div>
