.restaurant {
    height: 180px;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: Avenir Next Demi Bold;
    font-size: 16px;
    background-size: 100% 100% !important;
    background-position: center !important;
}

.title {
    position:absolute;
    bottom:6px;
    padding-left: 12px;
}
.name {
    padding-bottom: 6px;
}
.row {
    padding: 0px;
    margin: 0px;
}
.col-xs-12, .col-sm-6, .col-md-6 {
    padding: 0px;
}

.wrapper {
    position: relative;
    height: calc(100vh - 100px); 
    border: 1px solid black;
    
}

.slide-left {
    position: absolute;
    width: 100%;
    left: -100vh;
    height: calc(100vh - 100px); 
    -webkit-animation: slide 0.5s forwards;
   
    animation: slide 0.5s forwards; 
}
.slide-right {
    position: absolute;
    width: 100%;
    right: -100vh;
    height: calc(100vh - 100px); 
    -webkit-animation: slide 0.5s forwards;
   
    animation: slide 0.5s forwards; 
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}