/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.inline {
    display: inline;
}

body {
    height: 100%;
}

.row {
    margin: 0px;
}

.col-xs-12, .col-sm-6, .col-md-4, .col-lg-3 {
    padding: 0px;
}