
.details {
    max-width: 100%;
}
.restaurant-details .name-header {
    height: 60px;
    background-color: #43E895;
    color: #ffffff;  
    padding-top:10px;
}
.name {
    font-size: Avenir Next Demi Bold;
    font-size: 16px;
    font-weight: bold;
}

.category {
    font-family: Avenir Next Regular;
    font-size: 12px;
}
.twitter {
    font-family: Avenir Next Regular;
    font-size: 16px;
    color: #2a2a2a;
}

.pl-12 {
    padding-left: 12px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-26 {
    margin-top: 26px;
}


